chat/migrations/
user_auth/migrations/
documents/migrations/
.env
/data/
/rabbitmq_data/
uploads/
faiss_indexes/
/media/
mcp_server/.env
api_with_mcp/__pycache__/
documents/__pycache__/
chat/__pycache__/
user_auth/__pycache__/
api_with_mcp/migrations/
GenAIwithDjangoRestApi/__pycache__/
weather_Agent/__pycache__/
weather_Agent/migrations/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
*.pot
*.mo
*.swp
*.swo
.DS_Store
.vscode/
.idea/
*.iml
*.db
*.sqlite

